@media (max-width: 1024px) {
    #homePage {
        min-width: 1024px;
    }
}

#localVideoPreviewContainer, #localVideoPreview {
    border-radius: 15px;
    display: block;
    height: 400px;
    width: 400px;
    margin: auto;
}

#cameraBtn {
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    margin: auto;
}

.localVideo {
    background: black;
    object-fit: cover;
    transform: scaleX(-1);
}

::-webkit-scrollbar {
    height: 15px;
    width: 15px;
    background-color: #F0F0F0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid #4178a4;
    background-image: -webkit-radial-gradient(circle, #a4c2db, #4178a4);
}

div#videoTileGrid {
    background: white;
    display: grid;
    grid-template-rows: repeat(6, 180px);
    grid-template-columns: repeat(12, 180px);
}

div#videoTileGrid > .videoTile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    background: lightsteelblue;
    border-radius: 5px;
}

div#videoTileGrid > .videoTile > video {
    background: transparent;
    display: block;
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 5px;
}

div#videoTileGrid > .videoTile > #localVideo {
    transform: scaleX(-1);
}